@import "variables";
@import "mixins";
@import "0-plugins/0-plugins";
@import "0-modules/0-modules";

* {
  outline: 1px solid $outlineColor;
}

html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}