$outlineColor: red;

$backgroundDark: rgb(5, 5, 60);
$backgroundLight: rgb(15, 134, 185);
$backgroundVeryLight: rgb(196, 204, 235);

$fontDark: black;
$fontLight: grey;
$fontBright: rgb(15, 134, 185);

$radius: 5px;
